table{
    border: 1px solid black;
}
.cell {
    height: 100px;
    width: 100px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color: #22577E;
}

.whitecell {
    background-color: #BDCDD6;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 95vw;
    height: 95vh;
}
p{
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.whitefigures{
    color: #FFF1DC;
}
.blackfigures{
    color: #06283D;
}
button{
    background-color: #22577E;
    border: none;
    color:#BDCDD6;
    width: 6vw;
    height: 2.7vw;
    float: right;
    font-size: 24px;
}
input{
    width: 6vw;
    height: 2.4vw;
    font-size: 24px;
    float: right;
}